*.s
*.dump
*.o
Debug
_temp_by_dltool
*~
/bin/at
/app/user/src/.gitignore
/app/*
/app/*.py
/Project/.vs/Project_EspGemini2.2/v14/*.suo
/Project/*.sdf
/Project/*.sln
/Project/*.suo
/Project/*.vcxproj
/Project/*.filters
/Project/*.user
/Project/esp_gemini/*.vcxproj
/Project/esp_gemini/*.filters
*.opensdf
*.opendb
